:root {
    --logo-color: #0E0578;
    --accent-color: #2000E7;
    --second-accent-color: #F2BD00;
    --text-color: #000000;
    --subscribe-button-color: #F965FC;
}

@font-face {
    font-weight: 700;
    font-family: Poppins;
    src: url('../assets/fonts/Poppins-Bold.ttf');
}

@font-face {
    font-weight: 400;
    font-family: Poppins;
    src: url('../assets/fonts/Poppins-Regular.ttf');
}

@font-face {
    font-weight: 400;
    font-family: Jost;
    src: url('../assets/fonts/Jost.ttf');
}

html {
    margin:    0 auto;
    max-width: 1440px;
}

header {
    display: flex;
    width: 100%;
    margin: 50px 20px 150px;
}

.logo {
    margin-top: 0;
    font: bold 48px/72px Poppins, sans-serif;
    color: var(--logo-color);
}

nav {
    flex-grow: 1;
}

ul {
    display: flex;
    justify-content: flex-end;
    gap: 70px;
    margin-right: 90px;
}

li {
    font: 30px/45px Poppins, sans-serif;
    list-style-type: none;

}

a {
    text-decoration-line: none;
    color: #686565;
    margin-top: 50px;
}

main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 160px;
}

.accent {
   color: var(--accent-color);
}

main p {
    font: 30px/45px Poppins, sans-serif;
}

main h2 {
    font: bold 48px/32px Poppins, sans-serif;

}

span {
    color: var(--second-accent-color);
}

main p:nth-last-of-type(1) {
    font: 24px/45px Poppins, sans-serif;
    width: 616px;
}

button {
    width: 246px;
    height: 72px;
    border-radius: 10px;
    border-color: var(--accent-color);
    background-color: var(--accent-color);
    font: 24px/36px Poppins, sans-serif;
    color: #FFF;
    margin-right: 70px;
    box-shadow: 11px 21px 15px 6px rgba(0, 0, 0, .25);
}

main button:last-child {
    background-color: rgba(32, 0, 231, 0.04);
    color: var(--accent-color);
}

section.about_me {
    background-color: #43BAFD0F;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

section.about_me h2 {
    font: bold 48px/72px Poppins, sans-serif;
    letter-spacing: 16px;
    margin-top: 220px;
    margin-left: 50px;
}

div.text_about p {
    width: 415px;
    font: 24px/36px Poppins, sans-serif;
    text-align: left;
    margin-left: 50px;
}

section.about_me button {
    margin-left: 80px;
    margin-top: 16px;
}

.whitespace {
    height: 250px;
}

section.my_projects {
    background-color: #FFD69633;
}

section.my_projects h2 {
    font: bold 48px/0px Poppins, sans-serif;
    letter-spacing: 16px;
    text-align: center;
    padding-top: 70px;
}

section.my_projects p {
    font: 24px/36px Poppins, sans-serif;
    text-align: center;
    color: #000000;
}

.gallery {
    display: flex;
    height: 710px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 100px;
    row-gap: 20px;
    margin: 50px 200px 100px 100px;
    padding-bottom: 20px;
}

.gallery img {
    height: 180px;
    width: 246px;
}